<%- include('partials/header.ejs'); -%>
<h1>Home</h1>
<p><%=homeStartingContent%></p>
<br>
<% posts.forEach((post, i) => { %>
  <h1><%=posts[i].Title%></h1>
  <p>
    <%=posts[i].Content.substring(0,100) + "..." %>
     <a href="/posts/<%=posts[i].Title%>">Read More</a>
  </p>
<% }); %>

<%- include('partials/footer.ejs'); -%>
